/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
 h1,h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike,  sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html{
    font-size: 20px;
}
body{
    background: url(../assets/bg-intro-desktop.png), #F47778;
}
.details{
    width: 30%;
}
.form-details{
	margin-top: 150px;
	display: flex;
	justify-content:space-around;
	align-items: center;
}
h1{
	font-size: 3rem;
	font-weight: 800;
	color: white;
    margin-bottom: 20px;
}
p{
	line-height: 1.5;
	font-size: 1rem;
    font-size: 800;
	color: white;
}
.try-btn{
	background-color: #5D54A3;
	box-shadow: 0px 6px 0px -1px rgba(142,87,87,0.75);
	width: 100%;
	border-radius: 8px;
	padding: 18px ;
	border: none;
	color: white;
    font-size: 0.8rem;
}
.input-block{
	box-shadow: 0px 6px 0px -1px rgba(142,87,87,0.58);
	background-color: #FFFFFF;
	margin-top: 20px;
	padding: 20px 30px;
}
.first-name{
	display: block;
	width: 90%;
	border-radius: 8px;
	margin: 15px 0px;
	border: 2px solid #B6B0D7;
	outline: none;
	padding: 18px ;
	font-size: 14px;
}
.form-control{
	display: block;
	width: 90%;
	border-radius: 8px;
	margin: 15px 0px;
	border: 1px solid silver;
	outline: none;
	padding: 18px ;
	font-size: 14px;
}
.free-btn{
	background-color: #37CC8A;
	box-shadow: 0px 4px 0px 0px rgb(77,174,132);
    font-size: .7rem;
    font-weight: 800;
}
.term-line{
    margin-top: 20px;
	text-align: center;
	font-size: .8rem;
	color: gray;
}
.red{
	font-size: 0.8rem;
    font-weight: 800;
	color: red;
}


